
.lil-gui {
  display: none !important;
}




// html, body {
//   margin: 10;
//   padding: 10;
//   height: 100%;
// }

// #body-wrapper {
//   min-height: 100%;
//   position: relative;
// }

// #body-content {
//   margin-top: 1000px;
//   padding-bottom: 100px; /* footer의 높이 */
// }


body {
  //margin: 0;
  //padding: 0;
  background-color: rgb(58, 58, 58, 0.2);
  font-family: "ALS Wagon",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 2rem;
  font-weight: 400;
  color: #212529;
  line-height: 1.4;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: scroll;
  text-align: left;
  overflow: hidden;
  padding-top: 80px;
  height: 100vh;
  background-image: url('image/sky.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  color:rgba(255, 255, 255, 0.911);
  background-color: rgba(0, 0, 0, 0.399);
  font-size: 12vw;
  font-weight: 500;
  text-transform: uppercase;
}
list {
  width: 100%;
  height: 500px;
  border: 1px solid #003458;
}

main {
  padding: 1rem;
  align-items: center;
  //display: flex;
  
}


.left {
  //padding: 1rem;
 
  width: 30%;
  float: left;
  box-sizing: border-box;
  background: #ffffff27;
  justify-content: space-around;
}

.right {
  width: 30%;
  float: right;
  box-sizing: border-box;
  background: #ffffff27;
  justify-content: space-around;
}

p{
  //text-align: left;
  color : white;
  font-size:30px;
  // font-weight:bold;
  // flex-direction: row;

}

p:hover,
p:active {
  text-decoration: none;
  color: rgba(81, 78, 255, 0.733);
}

a {
  font-size: 14px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
  outline: none ; 
  //line-height: 100px;
  text-align: center;
  
}


a:hover,
a:active {
  text-decoration: none;
  color: rgba(81, 78, 255, 0.733);
}


.header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 10px;
  padding: 1rem;
  font-size: 15px;
font-weight: 1000;
  color: rgb(255, 255, 255);
  //background: rgba(0, 0, 0, 0.131);
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: blur(radius);
}

footer {
  position: fixed;
  width: 100%;
height: 40px;
  position: absolute;  
  bottom: 0;
  left: 0;
 padding: 5px 0px 5px;
//  display: flex;

  vertical-align: middle; 


	//background: blue;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Cabin', sans-serif;
  color: #ffeded;
  text-transform: uppercase;
  font-size: 10vmin;
  padding-left: 10%;
  padding-right: 10%;
}


#content1{
  display : flex;
  justify-content: space-around;
  align-items: center;
  text-align: center; 
  color: #fff;
  display: block;
  padding-top: 20rem;
  position: relative;
  width: 100%;

  .content1-1{
    margin-top: 10px;
    text-align: center;
    
    align-items: center;
    font-size: 15px;
  }
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
 
  margin-top: 60px;
  text-align: center;

  .title__name[_ngcontent-hpm-c5] {
    position: relative;
}

.title[_ngcontent-hpm-c5] {
  display: inline-block;
  font-size: 16rem;
  font-weight: 500;
  text-transform: uppercase;
}

  

    


    &-inner {
      p{
        font-size: 10px;
        color: blue;

      }
    }
  
}


input {
  width: 2000px;
  height: 100px;
  font-size: 50px;
  
}



#text1 {
  font-size: 20px
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


#webgl-container {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}

#box-wrap {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}





img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 600px;
  height: auto;
  text-align: center;
}