body {
  background-color: rgb(58, 58, 58);
  font-family: "ALS Wagon",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 2rem;
  font-weight: 400;
  color: #212529;
  line-height: 1.4;
  margin: 0;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: scroll;
  text-align: left;
}

.title {
  

  text-align: center;
  justify-content: space-around;
  align-items: center;
  color:rgba(162, 37, 37, 0.911);
  background-color: aqua;
  text-shadow: -1px 0 rgb(255, 255, 255), 0 1px rgb(255, 255, 255), 1px 0 rgb(255, 255, 255), 0 -1px rgb(255, 255, 255);
  
  display: inline-block;
  font-size: 10rem;
  font-weight: 500;
  text-transform: uppercase;
}

.header{

  position: fixed;
  top: 0;
  left: 0;
  right: 0;
font-size: 20px;
  height: 20px;
  padding: 1rem;
  color: rgb(255, 255, 255);
  background: rgba(255, 255, 255, 0.295);
  font-weight: normal;
  display: flex;
  justify-content: space-between;
  align-items: center;
  filter: blur(radius);
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Cabin', sans-serif;
  color: #ffeded;
  text-transform: uppercase;
  font-size: 10vmin;
  padding-left: 10%;
  padding-right: 10%;
}


#content1{
  display : flex;
  justify-content: space-around;
  align-items: center;
  color: #fff;
  display: block;
  padding-top: 9.2rem;
  position: relative;
  width: 100%;

  .content1-1{
    text-align: center;
    font-size: 16rem;
  }
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #a8bed5;
  margin-top: 60px;
  text-align: center;

  .title__name[_ngcontent-hpm-c5] {
    position: relative;
}

.title[_ngcontent-hpm-c5] {
  display: inline-block;
  font-size: 16rem;
  font-weight: 500;
  text-transform: uppercase;
}



[_nghost-hpm-c5] {
  color: #fff;
  display: block;
  padding-top: 9.2rem;
  position: relative;
  width: 100%;
}

  .test{
    display: flex;

    p{
      font-size:500spx;
      font-weight:bold;
      flex-direction: row;

    }

    span{
      color:aqua;
    }

    &-inner {
      p{
        font-size: 10px;
        color: blue;

      }
    }
  }
}


input {
  width: 2000px;
  height: 100px;
  font-size: 50px;
  
}

a {
  color: rgb(255, 255, 255);
  text-decoration: none;
  outline: none
}


a:hover,
a:active {
  text-decoration: none;
  color: rgba(81, 78, 255, 0.733);
}

#text1 {
  font-size: 20px
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


#webgl-container {
  position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}

#box-wrap {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}

body {
  overflow: hidden;
  padding-top: 40px;
  height: 100vh;
  background-image: url('./sky.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(138, 91, 151, 0.486);
}



footer {
  padding-top: 50px;
  padding-bottom: 10px;
}

img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 600px;
  height: auto;
  text-align: center;
}