
.lil-gui {
  display: none !important;
}

@font-face {
  font-family: 'ny';
  src: url('./NewYork.otf') format('truetype');
}

*{
  font-family: 'ny';
}


// html, body {
//   margin: 10;
//   padding: 10;
//   height: 100%;
// }

// #body-wrapper {
//   min-height: 100%;
//   position: relative;
// }

// #body-content {
//   margin-top: 1000px;
//   padding-bottom: 100px; /* footer의 높이 */
// }


body {
  //margin: 0;
  //padding: 10px;
  
  background-color: rgb(58, 58, 58, 0.2);
  font-family: 'ny', "ALS Wagon",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  font-size: 2rem;
  font-weight: 400;
  color: #212529;
  line-height: 1.4;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-y: scroll;
  
  overflow: hidden;
  padding-top: 70px;
  height: 100%;
  //width : 100%;
  background-image: url('image/sky.png');
  background-repeat: no-repeat;
  background-size: cover;
  font-family: 'ny';
  
}

.title {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  color:rgba(255, 255, 255, 0.911);
 // background-color: rgba(0, 0, 0, 0.399);
  font-size: 15vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'ny';
}
.subtitle {
  display: flex;
  align-items: center;
  position: relative;
  text-transform: uppercase;
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  color:rgba(255, 255, 255, 0.911);
 // background-color: rgba(0, 0, 0, 0.399);
  font-size: 6vw;
  font-weight: 500;
  text-transform: uppercase;
  font-family: 'ny';
}

// list {
//   width: 100%;
//   height: 500px;
//   border: 1px solid #003458;
// }

.container {
  display: flex;
  //flex-direction: column;
  font-size: 2.5vw;
  flex-wrap: wrap;
  justify-content: space-evenly;
	/* justify-content: flex-end; */
	/* justify-content: center; */
	/* justify-content: space-between; */
	/* justify-content: space-around; */
	/* justify-content: space-evenly; */
}

main {
  display: flex;
  //position: relative;
  padding: 2rem;
  // padding-top: 6rem;
  // padding-bottom: 6rem;
  
  //display: flex;
  width : 25vw;
  height:40vh;
  font-size: 2.5vw;
 // background: #ffe8e827;
  flex-direction: column;
  justify-content: space-around;
}

.list {
   width: 1em;
   height:40rem;
   box-sizing: border-box;
   justify-content: space-around;
 float : left;
 text-align: left;
 }

 .imglist {
  width: 3em;
  height:40rem;
  box-sizing: border-box;
  justify-content: space-around;
float : center;
text-align: right;
}


.left {
  width: 2rem;
  box-sizing: border-box;
  justify-content: space-around;
  float : left;
  text-align: right;
}

.right {
  width: 30%;
  box-sizing: border-box;
  justify-content: space-around;
  float : right;
  text-align: left;
}

c{
  height:5rem;
  //align-items: right;
 //align-items: center;
  color : white;
  font-size:3vw;
  // font-weight:bold;
  // flex-direction: row;
  text-decoration: none;
  outline: none ; 
  float:right;
  
}

a{
  color: white;
  text-decoration: none;
}

a:hover {
  
  color: rgb(81, 78, 255, 0.733);
}
a:active {
  
  color: rgba(255, 255, 255, 0.733);
}

.header a, .footer1 a, .left a, .right a {
  text-decoration: none;
}

.navbar_logo, .navbar_menu {
  font-size: 1.4em;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
  outline: none ; 
  //line-height: 100px;
  text-align: center;
}

.header{
  display:flex;
  min-width: 200px;
}

header{
  display: flex;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  height: 3vh;
  padding: 1em;
  font-size: 1.7vw;
font-weight: 1000;
  color: rgb(255, 255, 255);
  //background: rgba(0, 0, 0, 0.131);
  font-weight: normal;
  
 
  align-items: center;
  filter: blur(radius);
  text-decoration: none;
  
}
nav{
  width : 20%;
  font-size : 10vm;
  flex-wrap: wrap;
  justify-content: space-between;
  display: flex;
}

.footer1 {
  color :white;
  font-size: 1.5vw;
  position: fixed;
  bottom : 0;
  width: 100%;
  height: 2vw;
  position: absolute;  
  bottom: 0;
 padding: 5px 0px 5px;
//display: flex;
  text-align: center;
  align-items: center;
  vertical-align: middle; 
  background: rgba(0, 0, 255, 0.279);
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  font-family: 'Cabin', sans-serif;
  color: #ffeded;
  text-transform: uppercase;
  font-size: 10vmin;
  padding-left: 10%;
  padding-right: 10%;
}


#content1{
  width : 30vw;
  display : flex;
  justify-content: space-around;
  //align-items: center;
  //text-align: center; 
  color: #fff;
  //background-color: #212529;
  display: block;
  padding-top: 20rem;
  position: relative;
  width: 100%;

  .content1-1{
    margin-top: 10px;
    //text-align: center;
    
    //align-items: center;
    font-size: 10px;
  }
}


#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 // text-align: center;
 
  margin-top: 2rem;
 // text-align: center;

  .title__name[_ngcontent-hpm-c5] {
    position: relative;
}

.title[_ngcontent-hpm-c5] {
  display: inline-block;
  font-size: 16rem;
  font-weight: 500;
  text-transform: uppercase;
}

  

    


    &-inner {
      p{
        font-size: 10px;
        color: blue;

      }
    }
  
}


input {
  width: 2000px;
  height: 100px;
  font-size: 50px;
  
}



#text1 {
  font-size: 20px
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}


#webgl-container {
  //position:absolute;
  top:0;
  left:0;
  width: 100%;
  height:100%;
}

#box-wrap {
  position: relative;
  width: 100%;
  height: 0;
  overflow: hidden;
  padding-bottom: 100%;
}





img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 600px;
  height: auto;
  text-align: center;
}